<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>AWURA</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Revalia%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="frame-1-VTr">
  <div class="auto-group-5c3e-HPi">
    <div class="rectangle-1-YDA">
    </div>
    <div class="rectangle-44-1Me">
    </div>
    <div class="rectangle-48-YcU">
    </div>
    <div class="rectangle-46-56c">
    </div>
    <div class="rectangle-47-p4C">
    </div>
    <img class="ellipse-1-kTe" src="./assets/ellipse-1.png"/>
    <div class="awura-logo">
      <nav>
        <a href="#" class="logo"><img src="./assets/awura.svg" alt="Logo">
        <span class="company-name">AWURA</span>
          </a>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero-section">
    <div class="hero-text">
      <p class="text-content">
       <span class="text">“ </span>
       <span class="every-problem">
       Every problem is
        an opportunity for
       a 
       </span>
       <span class="text">Solution “</span>
      </p>
      <p class="awura-computing">
       <span class="awura">Awura</span>
       <span class="computing"> Computing PLC, Technology Solutions Provider</span>
      </p>
     </div>
     <div class="logo-container">
      <img src="./assets/awura.svg" alt="Logo">
     </div>
    </div>
    <p class="learn-a-little-more">Learn a Little More About us</p>
    <p class="description">
    We love developing websites,be spoke systems and 
    digital marketing  solutions, creating partnership ba
    sed on trust and transparency that give your company a bright future
    </p>
    <p class="our-services-7ic">OUR SERVICES</p>
    <p class="how-can-we-help-RUQ">How Can We Help?</p>
    <p class="our-projects-uuN">OUR PROJECTS</p>
    <p class="why-choose-awura-Dv4">Why Choose Awura?</p>
    <p class="our-customers-iM2">OUR CUSTOMERS</p>
    <p class="bring-innovative-thinking-pQ4">Bring Innovative Thinking</p>
  </div>
  <div class="auto-group-dbsu-wxQ">
    <div class="auto-group-fh4g-fdW">
      <div class="auto-group-km8p-PpQ">
        <div class="rectangle-49-LDr">
        </div>
        <p class="view-all-services-G7W">VIEW ALL SERVICES</p>
      </div>
      <div class="auto-group-phcg-XZE">
        <div class="rectangle-53-gBE">
        </div>
        <p class="view-our-projects-R8p">VIEW OUR PROJECTS</p>
      </div>
      <div class="auto-group-neyj-JCc">
        <div class="rectangle-54-qyE">
        </div>
        <p class="view-our-stories-nda">VIEW OUR STORIES</p>
      </div>
    </div>
    <p class="we-serve-our-clients-best-interests-with-the-best-marketing-solutions-4qz">We Serve our Client’s Best Interests with the Best Marketing Solutions.</p>
    <div class="line-15-YmA">
    </div>
  </div>
  <div class="frame-16-5WC">
    <p class="what-we-do-z7N">WHAT WE DO</p>
    <p class="we-believe-in-building-strong-brands-and-integrated-strategies-6w6">
    We Believe In Building Strong Brands And
    <br/>
                    Integrated Strategies
    </p>
    <div class="auto-group-f53s-PQQ">
      <div class="auto-group-wis6-KYx">
        <p class="data-center-FSc">Data Center</p>
        <p class="paragraph">
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adi piscing elit
        <br/>
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adi piscing elit
        </p>
        <img class="vector-RkQ" src=" "/>
        <img class="ellipse-4-8ui" src=" "/>
      </div>
      <div class="line-16-4Ha">
      </div>
      <div class="auto-group-n2sn-CPn">
        <p class="cyber-security-id2">Cyber Security</p>
        <p class="paragraph">
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adi piscing elit
        <br/>
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adi piscing elit
        </p>
        <img class="vector-Ksi" src=" "/>
        <img class="ellipse-2-4qJ" src=" "/>
      </div>
      <div class="line-17-CwW">
      </div>
      <div class="auto-group-lk36-8aG">
        <p class="cloud-services-HCG">Cloud Services</p>
        <p class="paragraph">
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adi piscing elit
        <br/>
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adi piscing elit
        </p>
        <img class="vector-hWt" src=" "/>
        <img class="ellipse-3-RSt" src=" "/>
      </div>
    </div>
    <div class="btn"> <button class="see-more-button">See More</button></div>
  </div>
  <p class="our-clients-nAx">Our Clients</p>
  <p class="we-are-trusted">We Are Trusted By Industry Leaders</p>
  <div class="auto-group-nyuc-13i">
    <img class="chapa-1-vRa" src=" "/>
    <img class="dangote-1-TRW" src=" "/>
    <img class="ride-1-zwE" src=" "/>
  </div>
  <div class="frame-18-LkC">
    <p class="why-choose-awura-GNx">Why Choose Awura</p>
    <p class="factors-that-makes-us-the-best-option-ns6">3 Factors That makes Us The Best Option</p>
    <div class="auto-group-nzyg-KME">
      <div class="auto-group-su9s-43v">
        <p class="customer-first-BuE">Customer First</p>
        <p class="paragraph">
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adipiscing elit 
        <br/>
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adipiscing elit
        </p>
      </div>
      <div class="line-18-cje">
      </div>
      <div class="auto-group-q1v4-MhE">
        <p class="amazing-team-VoS">Amazing Team</p>
        <p class="paragraph">
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adipiscing elit 
        <br/>
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adipiscing elit
        </p>
      </div>
      <div class="line-19-v84">
      </div>
      <div class="auto-group-uxqj-qVv">
        <p class="great-support-ng4">Great Support</p>
        <p class="paragraph">
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adipiscing elit 
        <br/>
        Lorem ipsum dolor sit amet, 
        <br/>
        consectetur adipiscing elit
        </p>
      </div>
    </div>
  </div>
  <div class="group-50-QhS">

  </div>
  <div class="footer">
    <div class="auto-group-w3xj-C4C">
      <p class="services-6fN">Services</p>
      <p class="data-center-p5a">Data Center</p>
      <img class=" " src=" "/>
      <p class="location">
      Bole Olompia Around Dembel
      <br/>
      RIZQ building 3rd Floor
      </p>
    </div>
    <div class="auto-group-awug-91N">
      <p class="our-portfolio">Our Portfolio</p>
      <p class="cloud-computing">Cloud Computing</p>
      <img class=" " src=" "/>
      <p class="email">etsubhayelom@gmail.com</p>
    </div>
    <div class="links">
      <p class="about-us">About Us</p>
      <p class="it-management">IT Management</p>
      <img class=" " src=" "/>
      <p class="phone-number">+251911111111</p>
    </div>
    <div class="auto-group-fys8-khJ">
      <p class="our-company">OUR COMPANY</p>
      <p class="solutions">SOLUTIONS</p>
      <p class="contact-info">CONTACT INFO</p>
    </div>
    <div class="social-links">
      <img class=" " src=""/>
      <img class=" " src=" "/>
      <img class=" " src=" "/>
      <img class=" " src=" "/>
      <p class="copyright">@copyright 2023 All rights reserved</p>
    </div>
  </div>
</div>
</body>